section {
    margin-top: 7px;
    height: 275vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.item.i1 {
    background-image: url("/assets/img/tile_macbookpro__cx0ur0qg9biq_medium_2x.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
}
.item.i2 {
    background-image: url("/assets/img/tile_watch__e9n11b6m6yq2_medium_2x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.item.i3 {
    background-image: url("/assets/img/tile_homepod_mini__b73w4z3ljymu_medium_2x.jpg");
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
}

.item.i4 {
    background-image: url("/assets/img/grid4.jpg");
    background-repeat: no-repeat;
    background-size: 185%;
    background-position: center;
}

.item.i5 {
    background-image: url("/assets/img/tile__cauwwcyyn9hy_medium_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
}
.item.i6 {
    background-image: url("/assets/img/promo_dickinson__c9ea4l2f5rki_medium_2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.grid.links {
    padding: 10px 10px;
    position: relative;
}

.grid.learnmore, 
.grid.buy {
    text-decoration: none;
    color: var(--links-color);
    font-size: 13px;
    padding: 0px 10px;
}
.grid.learnmore:hover, 
.grid.buy:hover {
    text-decoration: underline;
}
.grid.learnmore::after, 
.grid.buy::after {
    content: ">";
    padding-left: 5px;
    text-decoration: none;
    display: inline-block;
}
.item h2 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
    padding: 5px 0px;
}
.item h3 {
    font-size: 16px;
    font-weight: 100;
}
.watch {
    margin-top: 20px;
    max-width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.watch p {
    color: #CF7A48;
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 7px;

}
.watch img {
    height: 45px;
}
.arcade {
    margin-top: 35px;
    margin-bottom: 10px;
    max-height: 50px;
}
.arcade img {
    height: 28px;
}
.grid.try {
    text-decoration: none;
    color: var(--links-color);
    font-size: 13px;
    padding: 0px 10px;
}
.grid.try:hover {
    text-decoration: underline;
}
.grid.try::after {
    content: ">";
    padding-left: 5px;
    text-decoration: none;
    display: inline-block;
}
.footnote {
    color:var(--links-color);
    text-decoration: none;
    font-size: 9px;
    position: absolute;
    top:10px;
    right: 29px;
}
.card ,.tvplus {
    margin-top: 45px;
    margin-bottom: 5px;
    max-height: 50px;
}
.card img, .tvplus img {
    height: 25px;
}
.stream a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.bottom.i6{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}
.signature {
    max-width: 220px;
}
.stream a i {
    padding: 0px 2px;
}